main {
  margin-top: -70px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-container {
  margin: 0.8rem 0;
}

button[type='submit'] {
  color: var(--text-contrast);
  padding: 0.8rem 1rem;
  border: 0;
  border-radius: 8px;
  background-size: 200% auto;
  background-position: left;
  background-image: linear-gradient(
    90deg,
    var(--primary-gradient-start),
    var(--primary-gradient-end)
  );
  text-transform: lowercase;
  font-size: 1.025rem;
  letter-spacing: 1.6px;
}
