:root {
  --text: #000;
  --text-contrast: #fff;

  --danger: hsl(0, 95%, 45%);

  --primary-gradient-start: hsl(190, 90%, 45%);
  --primary-gradient-end: hsl(95, 80%, 50%);

  --secondary-light: hsl(210, 100%, 97%);

  --primary-border: hsla(268, 75%, 40%, 1);
  --primary-background: hsla(268, 75%, 95%, 1);

  --gray-100: hsl(0, 0%, 90%);
  --gray-200: hsl(0, 0%, 80%);
  --gray-300: hsl(0, 0%, 70%);
  --gray-400: hsl(0, 0%, 60%);
  --gray-500: hsl(0, 0%, 50%);
  --gray-600: hsl(0, 0%, 40%);
  --gray-700: hsl(0, 0%, 30%);
  --gray-800: hsl(0, 0%, 20%);
  --gray-900: hsl(0, 0%, 10%);

  --main-content-width: min(100%, 48rem);
}

* {
  box-sizing: border-box;
}

:focus:not(:focus-visible) {
  outline: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}
